/* header */
header {
  height: 70px;
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  margin: 0 10px;
}

/* container */
.container {
  height: 630px;
}

.container .btn{
  text-align: center;
}

#start-btn {
  margin: 20px 0;
  width: auto;
  height: 100px;
  font-size: 16px;
  background-color: saddlebrown;
  color: white;
}

.rabbit {
  text-align: center
}

/* footer */
footer {
  height: 30px;
  background-color: seashell;
}

.footer-msg {
  font-size: 10;
  text-align: right;
  margin: 10px;
}

